* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 97vh;
  background: black;
  color: whitesmoke;
}

.clock {
  height: 100%;
  width: 100%;
  display: flex;
  font-size: calc(100vw/5);
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.digits {
  font-weight: bold;
}

.digits:last-of-type {
  opacity: 0.95;
}

.separator {
  font-size: 0.5em;
}

footer {
  position: sticky;
  bottom: 8px;
  text-align: center;
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
  background: unset;
  color: unset;
  cursor: pointer;
}

#a2hs {
  display: none;
}

@media screen and (orientation: portrait) {
  .clock {
    flex-direction: column;
    gap: 20px;
    font-size: calc(100vh/5);
  }
  .separator {
    display: none;
  }
}